@import "tailwindcss";

@config '../tailwind.config.js';



/* =========================
   BORDER (wrapper based)
========================= */

.input-root {
  position: relative;
}

.input-border {
  border: var(--bw) solid black;
  padding-block: var(--bh);
  padding-inline: var(--po);
  transition: border-color 200ms ease;
}

/* =========================
   LABEL BASE
========================= */
.label-input {
  position: absolute;
  left: var(--po);
  top: 0%;
  display: inline-flex;
  align-items: center;
  pointer-events: none;
  transition: top 200ms ease, transform 200ms ease;
}

/* =========================
   PLACEHOLDER TEXT
========================= */
.placeholder-input {
  transform-origin: left center;
  transform: scale(calc(1 - 0.25 * var(--float))) translateY(calc(-66% * var(--float))) translateX(calc(10% * var(--float)));
  display: flex;
  align-items: center;
  transition: transform 200ms ease;
  background: transparent;
}

/* =========================
   BORDER CUT LINE
========================= */
.line-input {
  position: absolute;
  width: 100%;
  left: -2px;
  height: var(--bw);
  top: 0;
  opacity: calc(var(--float));
  transition: opacity 200ms ease;
}

/* =========================
   FLOAT STATES
========================= */

input:focus + .label-input .placeholder-input,
input:not(:placeholder-shown) + .label-input .placeholder-input {
  transform: scale(0.75) translateY(-66%) translateX(10%);
}

input:focus + .label-input .line-input,
input:not(:placeholder-shown) + .label-input .line-input {
  opacity: 1;
}